*{ margin: 8px;
padding: 3px;
background-color :beige;}
h1{
    color: lightseagreen;
text-align: center;}
h2{ color: lightgoldenrodyellow;
background-color: darkslategray;}
strong { color :teal;}
em { color :darksalmon;}
p { text-align: justify;
text-indent: 38px;
font-size: 20px;}
